<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.asset.dao.BorrowAccountDetailMapper">
  <resultMap id="BaseResultMap" type="com.ysd.asset.entity.BorrowAccountDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="borrow_id" jdbcType="INTEGER" property="borrowId" />
    <result column="agency_id" jdbcType="INTEGER" property="agencyId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="borrow_total" jdbcType="DECIMAL" property="borrowTotal" />
    <result column="borrow_capital_yes" jdbcType="DECIMAL" property="borrowCapitalYes" />
    <result column="borrow_interest_yes" jdbcType="DECIMAL" property="borrowInterestYes" />
    <result column="borrow_capital_no" jdbcType="DECIMAL" property="borrowCapitalNo" />
    <result column="borrow_interest_no" jdbcType="DECIMAL" property="borrowInterestNo" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_date, modify_date, borrow_id, agency_id, user_id, type, money, borrow_total, 
    borrow_capital_yes, borrow_interest_yes, borrow_capital_no, borrow_interest_no, ip, 
    remark
  </sql>
  <select id="selectByCriteria" parameterType="com.ysd.asset.criteria.BorrowAccountDetailCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fy_borrow_account_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fy_borrow_account_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from fy_borrow_account_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.ysd.asset.criteria.BorrowAccountDetailCriteria">
    delete from fy_borrow_account_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ysd.asset.entity.BorrowAccountDetail" useGeneratedKeys="true">
    insert into fy_borrow_account_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="borrowId != null">
        borrow_id,
      </if>
      <if test="agencyId != null">
        agency_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="borrowTotal != null">
        borrow_total,
      </if>
      <if test="borrowCapitalYes != null">
        borrow_capital_yes,
      </if>
      <if test="borrowInterestYes != null">
        borrow_interest_yes,
      </if>
      <if test="borrowCapitalNo != null">
        borrow_capital_no,
      </if>
      <if test="borrowInterestNo != null">
        borrow_interest_no,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowId != null">
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null">
        #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="borrowTotal != null">
        #{borrowTotal,jdbcType=DECIMAL},
      </if>
      <if test="borrowCapitalYes != null">
        #{borrowCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="borrowInterestYes != null">
        #{borrowInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="borrowCapitalNo != null">
        #{borrowCapitalNo,jdbcType=DECIMAL},
      </if>
      <if test="borrowInterestNo != null">
        #{borrowInterestNo,jdbcType=DECIMAL},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.ysd.asset.criteria.BorrowAccountDetailCriteria" resultType="java.lang.Long">
    select count(*) from fy_borrow_account_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteria" parameterType="map">
    update fy_borrow_account_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null">
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.borrowId != null">
        borrow_id = #{record.borrowId,jdbcType=INTEGER},
      </if>
      <if test="record.agencyId != null">
        agency_id = #{record.agencyId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowTotal != null">
        borrow_total = #{record.borrowTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowCapitalYes != null">
        borrow_capital_yes = #{record.borrowCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowInterestYes != null">
        borrow_interest_yes = #{record.borrowInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowCapitalNo != null">
        borrow_capital_no = #{record.borrowCapitalNo,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowInterestNo != null">
        borrow_interest_no = #{record.borrowInterestNo,jdbcType=DECIMAL},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.ysd.asset.entity.BorrowAccountDetail">
    update fy_borrow_account_detail
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowId != null">
        borrow_id = #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null">
        agency_id = #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="borrowTotal != null">
        borrow_total = #{borrowTotal,jdbcType=DECIMAL},
      </if>
      <if test="borrowCapitalYes != null">
        borrow_capital_yes = #{borrowCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="borrowInterestYes != null">
        borrow_interest_yes = #{borrowInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="borrowCapitalNo != null">
        borrow_capital_no = #{borrowCapitalNo,jdbcType=DECIMAL},
      </if>
      <if test="borrowInterestNo != null">
        borrow_interest_no = #{borrowInterestNo,jdbcType=DECIMAL},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>